In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

'''Answer :- A database is a structured collection of data that is organised in a way that makes it easy to manage, retrieve, and update. It serves as a repository for storing and managing data, allowing users to interact with it for various purposes. Databases are used in a wide range of applications, including websites, bussiness systems, scientific research and more.There are two main types of databases: SQL databases and NoSQL databases and the key differences between them are:

SQL(Structured Query Language) Databases:
1.They are relational databases that use SQL for defining and manipulating the data. It is a standard language for interacting with relational databases.
2.In SQL databases, data is structured in tables with predefined schema. Each row in a table represents a record, and each column represents a specific attribute or field.
3.They are typically scaled vertically, which means increasing the power of an existing server, such as upgrading hardware, to handle increased load.
4.Examples: MySQL, PostgreSQL, Oracle, Microsoft SQL Server.

NoSQL Databases:
1.They are non-relational databases that do not require a fixed schema and often provide more flexibility for handling various data types.
2.They can have various data models, including document-oriented, key-value pairs, column-family, or graph formats. The data can be stored in a more dynamic and flexible way.
3.They are typically designed to scale horizontally, allowing for the distribution of data across multiple servers to handle large amounts of traffic.
4.Examples: MongoDB, Cassandra, CouchDB, Redis.
'''

In [1]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

'''Answer:- DDL(Data Definition Language) is a subset of SQL that deals with defining and managing the structure of a database. DDL statements are responsible for creating, altering, and deleting databases objects like tables, indexes, and views. The main DDL statements include CREATE, DROP, ALTER, and TRUNCATE. Example: '''

import mysql.connector

connection = mysql.connector.connect(host="my_host", username="my_username", password="my_mysql_password", database="my_database")

my_cursor = connection.cursor()

# CREATE statement is used to create new database objects, such as tables, indexes, views, or stored procedures.
create_table_query = """CREATE TABLE Employees (EmployeeID INT PRIMARY KEY, FirstName VARCHAR(50), LastName VARCHAR(50), Salary DECIMAL(10,2));"""
my_cursor.execute(create_table_query)
connection.commit()

# DROP statement is used to remove existing database objects, such as tables, indexes, or views.
drop_table_query = "DROP TABLE Employees;"
my_cursor.execute(drop_table_query)
connection.commit()

# ALTER statement is used to modify the structure of an existing database object, such as adding or dropping columns in a table.
alter_table_query = "ALTER TABLE Employees ADD COLUMN Department VARCHAR(50);"
my_cursor.execute(alter_table_query)
connection.commit()

""" TRUNCATE statement is used to quickly delete all rows from a table without removing the table structure itself. It is faster than the DELETE statement and doesn't log individual row deletions."""
truncate_table_query = "TRUNCATE TABLE Employees;"
my_cursor.execute(truncate_table_query)
connection.commit()

my_cursor.close()
connection.close()

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

'''Answer:- DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used for managing data within relational database management systems (RDBMS). DML consists of commands like INSERT, UPDATE, DELETE, and SELECT, which are used to manipulate data in the database tables. Example: '''
import mysql.connector

conn = mysql.connector.connect(
    host="my_host",
    user="my_username",
    password="my_password",
    database="my_database_name"
)

cursor = conn.cursor()

# Example INSERT statement
sql_insert = "INSERT INTO my_table_name (column1, column2, column3) VALUES (%s, %s, %s)"
values_insert = (value1, value2, value3)  # Replace value1, value2, value3 with actual values
cursor.execute(sql_insert, values_insert)
conn.commit()

# Example UPDATE statement
sql_update = "UPDATE my_table_name SET column1 = %s WHERE condition = %s"
values_update = (new_value, condition)  # Replace new_value and condition with actual values
cursor.execute(sql_update, values_update)
conn.commit()

# Example DELETE statement
sql_delete = "DELETE FROM my_table_name WHERE condition = %s"
values_delete = (condition,)  # Replace condition with actual value
cursor.execute(sql_delete, values_delete)
conn.commit()

# Close cursor and connection
cursor.close()
conn.close()

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.

'''Answer:- DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used to retrieve data from a database. The primary command in DQL is the SELECT statement, which allows you to specify the columns you want to retrieve and apply various conditions to filter the results. '''

import mysql.connector

conn = mysql.connector.connect(
    host="my_host",
    user="my_username",
    password="my_sql_password",
    database="my_database_name"
)

cursor = conn.cursor()

# Example SELECT query
cursor.execute("SELECT * FROM my_table_name")

# Fetch and print results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close cursor and connection
cursor.close()
conn.close()

In [ ]:
#Q5. Explain Primary Key and Foreign Key.

'''Answer:- A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. It must contain unique values and cannot contain NULL values. Primary keys are used to enforce entity integrity, ensuring that each record in a table is uniquely identifiable. In most database management systems (DBMS), defining a primary key also creates a unique index on the specified column(s), which helps in faster data retrieval.

A foreign key is a column or a set of columns in a table that establishes a link between data in two tables. It creates a relationship between the tables by referencing the primary key or a unique key in another table. The foreign key constraint ensures referential integrity, meaning that values in the foreign key column(s) must exist in the referenced table's primary key column(s) or unique key column(s). This constraint helps maintain the consistency and integrity of data across related tables in the database.

Example: Consider two tables, "Orders" and "Customers". Each order in the "Orders" table is associated with a customer from the "Customers" table. In this scenario:

The "CustomerID" column in the "Customers" table could be the primary key, uniquely identifying each customer.
The "CustomerID" column in the "Orders" table could be a foreign key, referencing the "CustomerID" column in the "Customers" table. This establishes a relationship between the two tables, ensuring that each order is associated with an existing customer.
'''

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

'''Answer:- To connect MySQL to Python, you can use the mysql-connector-python library. '''

import mysql.connector

# Establish connection to MySQL database
conn = mysql.connector.connect(
    host="my_host",
    user="my_username",
    password="my_sql_password",
    database="my_database_name"
)

# Create cursor object to execute SQL queries
cursor = conn.cursor()

# Example SELECT query
cursor.execute("SELECT * FROM my_table_name")

# Fetch and print results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close cursor and connection
cursor.close()
conn.close()

"""The cursor() method returns a cursor object, which is used to execute SQL queries and fetch results from the database. The execute() method of the cursor object is used to execute SQL queries. You pass the SQL query as a parameter to the execute() method. After executing a SELECT query, you can fetch the results using methods like fetchone(), fetchall(), or fetchmany().
"""

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

'''Answer:- In SQL, the order of execution of clauses in a query follows a specific sequence, known as the logical query processing order. While different database management systems (DBMS) may optimize the execution process differently, the logical query processing order provides a conceptual framework for understanding how SQL queries are processed. The general order of execution is as follows:

1. FROM: The FROM clause specifies the tables or views from which data is retrieved. It is the first clause to be processed.

2. JOIN: If there are any JOIN clauses in the query, they are processed next. JOINs are used to combine rows from multiple tables based on a related column between them.

3. WHERE: The WHERE clause filters rows based on specified conditions. Rows that do not meet the conditions specified in the WHERE clause are excluded from further processing.

4. GROUP BY: If a GROUP BY clause is present, the rows resulting from the previous processing steps are grouped based on the specified columns. Aggregate functions (e.g., SUM, COUNT, AVG) can then be applied to the grouped data.

5. HAVING: The HAVING clause filters grouped rows based on specified conditions. It is similar to the WHERE clause but is applied after the GROUP BY operation.

6. SELECT: The SELECT clause specifies the columns to be retrieved from the result set. It is applied after all previous clauses have been processed.

7. DISTINCT: If the DISTINCT keyword is used, duplicate rows are removed from the result set after the SELECT clause has been applied.

8. ORDER BY: The ORDER BY clause sorts the result set based on the specified column(s). It is applied after all previous processing steps have been completed.

9. LIMIT/OFFSET: If the LIMIT and OFFSET clauses are present, they restrict the number of rows returned by the query and optionally specify a starting point for the result set.'''